:root {
    --main-color: rgb(219, 42, 42);
    --secondary-color:rgb(248, 121, 1);
}

body{
    background-image: url('../img/scorbunny-background.jpg');
    background-position: right;
    background-size:cover;
    display: grid;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    height: 100vh;
}

h1{
    text-align: center;
}

.container {
    width: min(90%, 1000px);
    padding: 30px;
    border-radius: 10px;
    place-self: center;
    height: 100%;
}

textarea{
    resize: none;
    width: 100%;
    height: 100px;
}

form{
    margin-top: 30px;
    height: 100%;
    justify-content: space-around;
    position: relative;
}

.settings-input{
    gap: 10px;
}

a{
    text-decoration: none;
    color: black;
}

button {
    width: 70px;
    height: 40px;
    position: absolute;
}

.setting-button button:first-of-type {
    right: 85px;
}

.setting-button button:last-of-type {
    right: 0px;
}