* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {
    --main-color: rgb(219, 42, 42);
    --secondary-color:rgb(248, 121, 1);
}

body {
    height: 150vh;
    font-family: "Ubuntu";
}

.flex {
    display: flex;
}

.flex-gap {
    gap: 8px;
}

.flex-col {
    flex-direction: column;
}

form input {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 5px;
  appearance: none;
  outline: 4px double var(--main-color);
  border: none;
  caret-color: var(--secondary-color);
}

form input::placeholder {
    text-transform: uppercase;
    font-weight: bold;
}


 button {
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(247, 245, 240);
    min-width: 30px;
    font-family: "Jersey 25", sans-serif;
    font-size: 16px;
}

header {
    align-items: center;
    background-color: var(--main-color);
    opacity: 90%;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
}

header .goal {
    grid-column: 2 / span 3;
    gap: 30px;
    width: 100%;
    color: white;
}

header .goal-meter{
    width: 50%;
    height: 30px;
    background-color:white;
    border-radius: 10px;
    position: relative;
    border: 5px solid black;
    --fill-width: calc(5/10 * 100%);
}

header .goal-meter::before {
    content: "";
    width: var(--fill-width);
    height: 20px;
    display: block;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

header .goal-meter::after{
    content: "🔥";
    position: absolute;
    right: -25px;
    top: -30px;
    font-size: 50px;
}

.addBtn{
    place-self: center;
}


button:hover{
    transform: scale(1.1);
}


dialog{
    margin: 10% auto;
    padding: 20px;
    width: max(200px,50vw);
    height: 55vh;
    border-radius: 5px;
}


dialog form {
    justify-content: space-around;
    height: 100%;
}


form .buttons {
    justify-content: flex-end;
}

.inputSectionCheck {
    flex-direction: row;
    align-items: center;
}

.inputSectionCheck label, .inputSection label {
    font-size: 1.2rem;
    font-weight: bold;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: 1px solid black;
    position: relative;
}

input[type="checkbox"]::before {
    content: "🔥";
    position: absolute;
    left: -2px;
    bottom: 1px;
    visibility: hidden;
    transform: scale(0);
    transition: 200ms ease-in;
}

input[type="checkbox"]:checked::before
{
    transform: scale(1);
    visibility:visible
}

.profile {
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
}

.profile img {
    border-radius: 50%;
}

.library {
    padding: 20px;
    gap: 20px;
    flex-flow: wrap;
}

.library-books {
    gap: 20px;
    flex-flow: wrap;
}

.add.card {
    background-color: rgb(54, 186, 148);
    display: grid;
    place-items: center;
}

.add.card svg {
    width: 80px;
    transition: 500ms ease-in;
}

.add.card:hover {
    opacity: 0.9;
}

.add.card:hover > svg {
    rotate: 180deg;
    fill: white;
}

.card {
    background-color: rgb(238, 234, 234);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
}

.book {
    border-bottom: 5px solid var(--main-color);
    transition: 300ms ease-in;
    position: relative;
    justify-content: space-between;
}

.book .edit {
    margin-left: auto;
}

.library svg {
    width: 15px;
    cursor: pointer;
}

.completion {
    visibility: hidden;
    transition: 50ms ease-in;
    transform: scale(0);
    transform-origin: center;
}

.book:hover .completion {
    visibility:visible;
    transform: scale(1);
}

.book:hover{
    transform: translateY(5px);
}

.book h2 {
    color: var(--main-color);
}

@media screen and (max-width: 800px)
{
    header{
        grid-template-rows: repeat(2,1fr);
    }

    header .profile {
        grid-column: 1 / span 2;
    }

    header .addBtn {
        grid-column: 4;
    }

    header .goal {
        margin-left: 15%;
        grid-area: 2 / 1 / 2 / 5;
    }

}

@media screen and (max-width: 560px)
{
    .library {
        justify-content: center;
    }

    .library .card {
        width: 350px;
    }
}