* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(219, 42, 42);
}

body {
    height: 150vh;
}

.flex {
    display: flex;
}

form input {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  appearance: none;
}

.card, button {
    cursor: pointer;
}

header {
    justify-content: space-around;
    gap: 40%;
    align-items: center;
    background-color: var(--main-color);
    opacity: 90%;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}


button {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(247, 245, 240);
}

button:hover{
    transform: scale(1.1);
}


dialog{
    margin: 10% auto;
    padding: 50px;
    width: 450px;
    height: 50vh;
}

dialog form {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

form button {
    width: 20%;
}

form .buttons {
    justify-content: space-around;
}

.inputSectionCheck {
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.inputSection {
    flex-direction: column;
    gap: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: 1px solid black;
    position: relative;
}

input[type="checkbox"]::before {
    content: "🔥";
    position: absolute;
    left: -2px;
    bottom: 1px;
    visibility: hidden;
    transform: scale(0);
    transition: 200ms ease-in;
}

input[type="checkbox"]:checked::before
{
    transform: scale(1);
    visibility:visible
}

.profile {
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
}

.profile img {
    border-radius: 50%;
}

.library {
    padding: 20px;
    gap: 20px;
    flex-flow: wrap;
}
.library-books {
    gap: 20px;
    flex-flow: wrap;
}

.add.card {
    background-color: rgb(54, 186, 148);
    display: grid;
    place-items: center;
}

.add.card svg {
    width: 80px;
    transition: 500ms ease-in;
}

.add.card:hover {
    opacity: 0.9;
}

.add.card:hover > svg {
    rotate: 180deg;
    fill: white;
}

.card {
    background-color: rgb(238, 234, 234);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}

.book {
    border-bottom: 5px solid var(--main-color);
    transition: 300ms ease-in;
}

.book:hover{
    transform: translateY(5px);
}

.book h2 {
    color: var(--main-color);
}