* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(219, 42, 42);
}

body {
    height: 150vh;
}

.flex {
    display: flex;
}

.card, button {
    cursor: pointer;
}

header {
    justify-content: space-around;
    gap: 40%;
    align-items: center;
    background-color: var(--main-color);
    opacity: 90%;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}


header button {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(247, 245, 240);
}

header button:hover{
    transform: scale(1.1);
}

.profile {
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
}

.profile img {
    border-radius: 50%;
}

.library {
    padding: 20px;
    gap: 20px;
    flex-flow: wrap;
}

.add.card {
    background-color: rgb(54, 186, 148);
    display: grid;
    place-items: center;
}

.add.card:hover {
    opacity: 0.9;
}

.card {
    background-color: rgb(238, 234, 234);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}

.book {
    border-bottom: 5px solid var(--main-color);
}

.book:hover{
    transform: translateY(5px);
}

.book h2 {
    color: var(--main-color);
}